div.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 10%;
    transform: translateY(10%);
    width: 100%;
    text-align: center;
}

div.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    margin-bottom: 40px;
}

h1.main {
    font-size: 4rem;
    font-weight: 700;
    color: var(--primary);
    text-shadow: 2px 2px 5px var(--shadow);
    margin: 0;
}

div.sub {
    font-size: 1.4rem;
    opacity: 0.8;
    letter-spacing: 0.05rem;
    text-align: center;
    color: var(--contact);
}

div.projects-section {
    margin-top: 20px;
    padding: 20px;
}

div.projects-sub {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    color: var(--primary);
}

div.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

div.projects div.project {
    border-radius: 12px;
    background-color: var(--box-bg);
    box-shadow: 0 4px 6px var(--shadow);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 400px;
}

div.projects div.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px var(--shadow);
}

div.projects div.project img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    border-bottom: 1px solid var(--border);
}

div.projects div.project h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary);
    margin: 15px;
}

div.projects div.project p {
    margin: 15px;
    color: var(--color);
    flex-grow: 1;
}

div.projects div.project div.links {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: var(--box-bg);
    border-top: 1px solid var(--border);
}

div.projects div.project div.links a {
    flex: 1;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--secondary);
    background-color: var(--btn-bg);
    transition: background-color 0.3s;
}

div.projects div.project div.links a:hover {
    background-color: var(--btn-hover-bg);
}

div.contact {
    margin-top: 40px;
    padding: 20px;
    font-size: 1rem;
    color: var(--contact);
}

div.contact span {
    color: #e60023;
}

div.contact a {
    color: #007bff;
    text-decoration: none;
}

div.contact a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1050px) {
    div.center {
        transform: translateY(2%);
    }
    
    h1.main {
        font-size: 2.5rem;
    }

    div.projects {
        grid-template-columns: 1fr;
    }
}